<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>
    <div class="links">
      <a href="/working">Robots Currently Working</a><br>
      <a href="/notworking">Robots Seeking Employment</a>
    </div>
      {{#robots}}

        <a href={{id}}>
          <div>
            <img src={{avatar}} alt="profile pic"></img>
            <p class="name">{{name}}</p>
            {{#job}}<p>{{job}}, {{company}}{{/job}}
            {{^job}}<span class="available">Available for hire</span>{{/job}}
            </p>
          </div>
        </a>
      {{/robots}}
    <!--</div>-->
  </body>
</html>
