<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>
    {{#robots}}
      <div class="robot">
        <div class="pic">
          <img src={{avatar}} alt={{username}} "logo">
        </div>
        <div class="name">
          {{username}}
        </div>
        {{#job}}
          <div class="job">
            {{job}}, {{company}}
          </div>
        {{/job}}
        {{^job}}
          <div class="nojob">
            Available for Hire
          </div>
        {{/job}}
      </div>
    {{/robots}}
  </body>
</html>
