<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>

    {{#robots}}
      {{^job}}
        <a href={{id}}>
          <div>
            <img src={{avatar}} alt="profile pic"></img>
            <p class="name">{{name}}</p>
            <span class="available">Available for hire</span>
            </p>
          </div>
        </a>
      {{/job}}
    {{/robots}}
    <!--</div>-->
  </body>
</html>
